<h1>Movies!</h1>
<p>The first movie is: <%= @first_movie.title %></p>
<p>It has <%= @first_count %> votes!</p>

<h2>My Favorite</h2>
<p>My favorite movie  is <%= @my_favorite.title %></p>
<p>The year it came out was <%= @my_favorite.year %> </p>